[1;33mWARNING: you are calling pip on the slurmmaster.
This may fail for larger packages like pytorch.
Use a shell on a compute node:[0m
srun --pty -w tithanos bash
[1;33mMore info: https://doku-ls6.informatik.uni-wuerzburg.de/docs/venv.html[0m
absl-py==1.4.0
cachetools==5.3.0
certifi==2022.12.7
charset-normalizer==3.0.1
-e git+https://gitlab2.informatik.uni-wuerzburg.de/amh12ry/chest-x-ray-classifier.git@b8745f0fb0210dbbe9ba546e792cfb8d6d46a9da#egg=Chest_X_Ray_Classifier
google-auth==2.16.0
google-auth-oauthlib==0.4.6
grpcio==1.51.1
idna==3.4
imageio==2.25.0
install==1.3.5
joblib==1.2.0
libauc==1.2.0
Markdown==3.4.1
MarkupSafe==2.1.2
networkx==3.0
numpy==1.24.2
oauthlib==3.2.2
opencv-python==4.7.0.68
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
protobuf==3.20.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-dateutil==2.8.2
pytz==2022.7.1
PyWavelets==1.4.1
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.2.1
scipy==1.10.0
six==1.16.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.1.0
tifffile==2023.2.3
torch==1.13.1+cu117
torchaudio==0.13.1+cu117
torchvision==0.14.1+cu117
tqdm==4.64.1
typing_extensions==4.4.0
urllib3==1.26.14
Werkzeug==2.2.2
